/* For convenience, the starting code includes variables with most of the 
specified pixel values and colors. */
:root {
    --wrapper-border-radius: 12px;
    --wrapper-padding: 12px;
    --wrapper-background-color: #e0e0e0;
  
    --circle-width: 30px;
    --circle-radius: calc(var(--circle-width) / 2);
    --circle-border-width: 4px;
    --circle-bottom-margin: 8px;
    --circle-font-size: 24px;
  
    --selected-background-color: #279600;
  
    --divider-line-height: 4px;
  
    --product-offering-height: 40px;
    --product-offering-padding: 12px;
    --product-offering-vertical-margin: 12px;
    --product-offering-border-radius: 8px;
    --product-offering-left-border-size: 5px;
  
    --label-left-margin: 4px;
    --blue-product-color: #626ee3;
    --red-product-color: #890023;
    --orange-product-color: #f37f1b;
    --green-product-color: #11967e;
  
    --button-padding: 12px;
    --button-font-size: 16px;
    --button-border-radius: 8px;
    --button-background-color: #02203c;
  }

body {
    background-color: darkgray;
}

/* You're given an HTML file with the markup for a purchase form, similar to the actual
purchase form on AlgoExpert.

Using only CSS, style the purchase form to have the following characteristics: */

/* -The #wrapper should have 12px of padding, a border radius of 12px,
and a background color of #e0e0e0. */

#wrapper {
    padding: var(--wrapper-padding);
    border-radius: var(--wrapper-border-radius);
    background-color: var(--wrapper-background-color);
}

/* -The ordered list should be styled as a stepper component:
        --The stepper should be horizontally centered with no padding, but it should
        maintain its default vertical margin */

ol {
    display: flex;
    padding: 0;
    counter-reset: list-items;
}

li {
    list-style-type: none;
}

ol li {
    position: relative;
    flex-basis: 100%;
    text-align: center;
}

/*      --Each list item in the stepper should have its corresponding item number above
        its text content, and this number should be inside of a circle with a white
        background color, a width of 30px, 8px of bottom margin, a font-size of 24px,
        and a solid, black, 4px border. The number inside of the circle should be
        horizontally and vertically centered, and the circle should be horizontally
        centered above the text content.*/
ol li::before {
    counter-increment: list-items;
    content: counter(list-items);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--circle-width);
    height: var(--circle-width);
    border-radius: 50%;
    border: 4px solid black;
    background-color: #FFFFFF;
    margin: 0 auto var(--circle-bottom-margin) auto;
    font-size: var(--circle-font-size);
}

/*      --The number-circle for the list item with the selected class should have
        white text and a background color of #279600. */
.selected::before {
    color: white;
    background-color: var(--selected-background-color);
}

/*      --Between each pair of adjacent number-circles should be a 4px-tall black 
        horizontal line. These divider lines should be vertically centered with
        respect to the number-circles, and they should sit exactly between the circles,
        just touching their edges. */
ol li:not(:first-of-type)::after {
    content: "";
    display: block;
    width: calc(100% - var(--circle-width));
    height: var(--divider-line-height);
    background-color: black;
    position: absolute;
    left: calc(-50% + var(--circle-radius)) ;
    top: calc(var(--circle-radius) 
    + var(--circle-border-width) 
    - var(--divider-line-height) / 2);
}

/*  -The unordered list should be styled as follows:
        --The unordered list should maintain its default margin, but it should have
        no padding. */
ul {
    padding: 0;
}

/*      --Each list item in the unordered list represents a single product offering
        and should have 12px of padding, 12px of vertical margin, a height of 40px, 
        a border-radius of 8px, bold font, and a white background color. */
ul li {
    display: flex;
    align-items: center;
    height: var(--product-offering-height);
    padding: var(--product-offering-padding);
    border-radius: var(--product-offering-border-radius);
    margin: var(--product-offering-vertical-margin) 0;
    background-color: white;
    font-weight: bold;
}

/*      --The labels should have 4px of left margin and a text color based on the
        list-item class, following this mapping:
            .blue-product: #626ee3 
            .red-product: #890023
            .orange-product: #f37f1b
            .green-product: 11967e */
label {
    margin-left: var(--label-left-margin);
}

.blue-product label {
    color: var(--blue-product-color);
}

.red-product label {
    color: var(--red-product-color);
}

.orange-product label {
    color: var(--orange-product-color);
}

.green-product label {
    color: var(--green-product-color)
}

/*      --Each product-offering list item should also have a solid, 5px left border
        of the same colour as its text. */
.blue-product {
    border-left: var(--product-offering-left-border-size) solid var(--blue-product-color);
}

.red-product {
    border-left: var(--product-offering-left-border-size) solid var(--red-product-color);
}

.orange-product {
    border-left: var(--product-offering-left-border-size) solid var(--orange-product-color);
}

.green-product {
    border-left: var(--product-offering-left-border-size) solid var(--green-product-color);
}

/*  -The "Continue" button should be aligned to the right side of the #wrapper,
     with 12px of padding, a font-size of 16px, a border radius of 8px, a background
     color of #02203c and a white text color. */
button {
    display: block;
    margin-left: auto;
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    border-radius: var(--button-border-radius);
    background-color: var(--button-background-color);
    color: white;
}

