
/* Using only CSS, style the HTML to have the appearance of a robot emoji with 
the following characteristics: */

body {
    background-color: darkgray;
}

/* -The head should be a perfect square with a width and height of 150px, a margin
of 50px, and a background color of #a4d9eb. The head should also have a solid, 
#9bbcc2, 5px border and a 20px border-radius.*/
.head {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 50px;
    background-color: #a4d9eb;
    border: 5px solid #9bbcc2;
    border-radius: 20px;
}

/* -A light should be positioned on top of the head's border. This light should be
horizontally centered with respect to the head. The bulb should be a perfect circle
with a width and height of 30px and a background color of #ffa500. The light's stick
should be a rectangle with a width of 10px, a height of 15px, and a background color
of #808080. The bulb should be positioned on top of the stick, with 5px of overlap. */
.light {
    display: flex;
    justify-content: center;
}

.bulb {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -45px;
    border-radius: 50%;
    background-color: #ffa500;
    z-index: 1;
}

.stick {
    position: absolute;
    width: 10px;
    height: 15px;
    top: -20px;
    background-color: #808080;
}

/* -The ears should each be rectangles with widths of 10px, heights of 50px, and
background colors of #c90a0a. They should be positioned against the left and right
sides of the head's border. The left ear should have a top-left and bottom-left
border-radius of 5px, and the right ear should have a top-right and bottom-right
border-radius of 5px. The ears should be vertically centered with respect to the head. */
.ears {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.ear:first-child {
    position: absolute;
    width: 10px;
    height: 50px;
    left: -15px;
    background-color: #c90a0a;
    border-radius: 5px 0 0 5px;
}

.ear:last-child {
    position: absolute;
    width: 10px;
    height: 50px;
    right: -15px;
    background-color: #c90a0a;
    border-radius: 0 5px 5px 0;
}

/* -The eyes should be perfect circles, each with a width and height of 30px. They should
be positioned 25px from the top of the head (30px from the top of the head's border).
There should be 20px of gap between the eyes, and they should be horizontally centered in
the head. Each eye should have a background color of white, and a solid #00b3ff, 
5px border */
.eyes {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    top: 25px;
    gap: 20px;
}

.eye:first-child {
    width: 30px;
    height: 30px;
    background-color: white;  
    border-radius: 50%;
    border: 5px solid #00b3ff
}

.eye:last-child {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid #00b3ff
}

/* -The nose should be a triangle with a color of #c90a0a. This triangle should have a 
width and height of 30px. The triangle should be pointed up (i.e. the 30px edge should
be parallel to the bottom of the head). The nose should be horizontally and vertically
centered in the head. */
.nose {
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #c90a0a;
    top: 60px;
    left: 60px;
}

/* The mouth should have a width of 100px, a height of 25px, and a background color of
#dedede, and a solid, black, 1px, border with a 20px border-radius. The mouth should be
25px from the bottom of the head (30px from the bottom of the head's border), and it 
should be horizontally centered. */
.mouth {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100px;
    height: 25px;
    background-color: #dedede;
    border: 1px solid black;
    border-radius: 20px;
    bottom: 25px;
    left: 24px;
}

/* The mouth contains 4 teeth, each of which has a width of 5px and a background color
of black. These teeth should take up the entire height of the mouth without overflowing
out of the mouth. There should be even horizontal spacing between each tooth, with half
as much space before the first tooth and after the last tooth. */
.tooth {
    width: 5px;
    height: 100%;
    background-color: black;
}

/* Hint 1: A triangle can be created purely by using borders when a block element has
no width or height */
/* Hint 2: To create the triangle, try using a border bottom to create the color and 
the height of the triangle. Then a transparent border can be used for the other edges
to change the width. */
/* Hint 3: To put the ears and light outside of the head, try using absolute positioning
with a relatively positioned parent. */
